<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Planner App</title>
  </head>

  <body>
    <div class="container">
      <header class="header"><h1>Travel Planner</h1></header>

      <main class="main">
        <h3 class="form-header">Enter new trip date and destination</h3>
        <form class="form">
          <div class="input-group">
            <label for="date">Travel date: </label
            ><input type="date" name="date" id="date" />
          </div>
          <div class="input-group">
            <label for="destination">Destination: </label
            ><input type="text" name="destination" id="destination" />
          </div>

          <input type="button" value="Submit" id="submitForm" />
        </form>

        <section class="trip-preview">
          <img src="" alt="Photo from destination" class="photo" />
          <div class="trip-data">
            <h3 class="my-trip-to">My Trip to: <span>Paris, France</span></h3>
            <h3 class="departing">Departing: <span>22/10/2020</span></h3>
            <input type="button" value="Save trip" id="saveTrip" />
            <input type="button" value="Remove trip" id="removeTrip" />
            <p>Pris, France is 220 days away</p>
            <p>Typical weather for then is High: 45 Low: 35</p>
            <p>Mostly cloudy throughout the day</p>
          </div>
        </section>

        <div></div>
      </main>
    </div>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker
            .register("service-worker.js")
            .then(() => {
              console.log("serviceworker registered");
            })
            .catch(err => {
              console.log(err);
            });
        });
      }
    </script>
  </body>
</html>
